.contact_container{
    height: calc(100vh - 100px);
    width: 100vw;
    box-sizing: border-box;
}
.contact-form-container{
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fffefb;
}
.contact-form-container .form{
    /* border: 2px solid black; */
    width: 30vw;
    height: 500px;
    margin: 0%;
    padding: 20px;
}
.form h1{
    text-align: center;
    margin: 10px;
}
.form form{
    box-sizing: border-box;
    /* border: 2px solid black; */
    padding: 20px;  
}
.form label{
    font-size: 20px;
    margin: 10px;

}
.form input{
    margin: 10px;
    border-radius: 5px;
    width: 85%;
}
.form textarea{
    padding: 15px;
    width: 85%;
    max-width: 340px;
    height: 100px;
    max-height: 100px;
    margin: 10px;
    border-radius: 5px;
}
.form .submit-btn{
    text-align: center;
}
.form input[type="submit"]{
    width: 15vw;
    padding: 10px 20px; 
    border-radius: 5px;
    cursor: pointer;
}
.contact-image{
    /* border: 2px solid black; */
    width: 400px;
    height: 500px;
    padding: 20px;
    background-image: url("../assets/contact.jpg");
    background-size: 100% 100%;
    background-position: center;
}
.contact-form{
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px 0 #0000002b;
}