.users{
    /* border: 2px solid red; */
    width:  100%;
}
.userHeading{
    border-bottom: 1px solid;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0px 40px;
    justify-content: space-between;
    height: 75.5px;
}
.userHeading h1{
    margin: 0%;
}
.search{
    border-radius: 5px;
    width: 300px;
}